# Binaries for programs and plugins
*.exe
*.exe~ip2region.db
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
*.log
.idea
go.sum
/wbl/
# ip2geo 数据库
*.mmdb
# ip2region 数据库
*.db
dist
